img {
  max-width: 25rem;
}

h2 {
  background-color: rgb(82, 117, 117);
  color: white;
}

.row {
  background-color: rgb(82, 117, 117);
}

.col.l6.s12 {
  background-color: rgb(82, 117, 117);
}

.col.l4.offset-l2.s12 {
  background-color: rgb(82, 117, 117);
}

.nav-wrapper {

}
.img-logo {

  max-width: 10%;
}

.a {
  text-decoration: underline;
}


footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(82, 117, 117);
  color: #fff;
}

footer .row {
  margin-bottom: 0;
}

footer a {
  color: #bbb;
  text-decoration: none; 
  transition: color 0.3s;
}

footer a:hover {
  color: #fff;
  text-decoration: underline; 
}


.footer-copyright {
  background-color: rgb(82, 117, 117); 
  padding: 10px 0; 
  text-align: center; 
  color: #ccc; 
}
